style
  include:stylus index.styl

article
  h1!= name

  site-wikitext
    script(type = "text/wikitext")
      != summary

  h2 Class Methods

  site-toc(data-glob = `${path}/class/methods/*`)
    p There are no class methods.

  h2 Instance Methods

  site-toc(data-glob = `${path}/instance/methods/*`)
    p There are no instance methods.

  h2 Class Properties

  site-Properties(data-glob = `${path}/class/properties/*`)
    p There are no class properties.

  h2 Instance Properties

  site-Properties(data-glob = `${path}/instance/properties/*`)
    p There are no instance properties.

  site-block(data-key = `${path}/description`)
    h2 Description

  if examples.length > 0
    if examples.length == 1
      h2 Example
    else
      h2 Examples

    each example in examples
      != example.html
