include ../../-mixins

style
  include:stylus index.styl

article
  h1!= name

  +wikitext(summary, "text/markdown")

  h2 Class Methods

  site-toc(data-glob = `${path}/class/methods/*`)
    p There are no class methods.

  h2 Instance Methods

  site-toc(data-glob = `${path}/instance/methods/*`)
    p There are no instance methods.

  h2 Class Properties

  site-properties(data-glob = `${path}/class/properties/*`)
    p There are no class properties.

  h2 Instance Properties

  site-properties(data-glob = `${path}/instance/properties/*`)
    p There are no instance properties.

  site-block(data-key = `${path}/description`)
    h2 Description

  site-blocks(data-glob = `${path}/example/*`)
    h2 Example

  site-blocks(data-glob = `${path}/examples/*`)
    h2 Examples
