mixin method-variables()

  if variables.length > 0
    table
      thead
        tr
          th name
          th type
          th description
      
      tbody   
        tr
          td= type.key
          td: +autolink(type): code= type.name
          td An instance of #{type.name}.
          
        each variable in variables
          tr
            td= variable.name
            td!= $.markdown(variable.type)
            td!= $.markdown(variable.description)
  else
    block

mixin method()

  article
    h1
      if scope == "class"
        = `${type.name}.${name}`
      else
        = `${type.key}.${name}`
      span.tag class method
    
    != $.markdown(summary)
    
    +signatures()
    
    if scope == "class"
      +variables()
    else 
      +method-variables()

    block
    
mixin type

  article
  
    h1= name

    != $.markdown(summary)

    section.toc
    
      h2#class-methods Class Methods

      .toc: +toc($.methods(key, "class"))

      h2#instance-methods Instance Methods

      .toc: +toc($.methods(key, "instance"))

      h2#class-properties Class Properties

      .toc
        +variables($.properties(key, "class"))
          p There are no class properties.

      h2#instance-properties Instance Properties

      .toc
        +variables($.properties(key, "class"))
          p There are no instance properties.

    block
