mixin method-variables()

  if variables.length > 0
    table
      thead
        tr
          th name
          th type
          th description
      
      tbody   
        tr
          td= parent.key
          td: +autolink(parent.name): code= parent.name
          td An instance of #{parent.name}.
          
        each variable in variables
          tr
            td= variable.name
            td!= $.markdown(variable.type)
            td!= $.markdown(variable.description)
  else
    block

mixin method()

  article
    h1
      if scope == "class"
        = `${parent.name}.${name}`
      else
        = `${parent.key}.${name}`
      span.tag class method
  
    if summary
      != $.markdown(summary)
  
    +signatures()
  
    if scope == "class"
      +variables()
    else 
      +method-variables()
  
    block
    
mixin type

  article
  
    h1= name

    if summary
      != $.markdown(summary)

    .toc
    
      h2#class-methods Class Methods

      +toc($.methods(key, "class"))

      h2#instance-methods Instance Methods

      +toc($.methods(key, "instance"))

      h2#class-properties Class Properties

      +variables($.properties(key, "class"))
        p There are no class properties.

      h2#instance-properties Instance Properties

      +variables($.properties(key, "instance"))
        p There are no instance properties.

    block
