mixin signatures()

  each signature in signatures
    blockquote.signature
      p
        if type
          if scope == "class"
            span.scope= type.name
          else
            span.scope= type.key
        
        span.name= name
          
        span.arguments= signature.arguments
        span.result= signature.result
  

mixin variables(entries=variables)
  if entries.length > 0
    
    table
      thead
        tr
          th name
          th type
          th description
      
      tbody
        each entry in entries
          tr
            td= entry.name
            td!= $.markdown(entry.type)
            td!= $.markdown(entry.description)
  else
    block
