mixin signatures()

  each signature in signatures
    blockquote.signature
      p
      if type
        if scope == "class"
          strong= `${type.name}.${name}`
        else
          strong= `${type.key}.${name}`
      else
        strong= name
      |
      |
      = signature.arguments
      |
      | &rarr;
      |
      = signature.result
  

mixin variables(entries=variables)

  if entries.length > 0
    
    table
      thead
        tr
          th name
          th type
          th description
      
      tbody
        each entry in entries
          tr
            td= variable.name
            td!= $.markdown(entry.type)
            td!= $.markdown(entry.description)
  else
    block
