extends ../-layout

block section
  h3(id=fragment)
    a.permalink(href="#" + fragment)= title
  
  each signature in signatures
    blockquote.signature
      p
        strong= title
        |
        |
        = signature.inputs.join(", ")
        |
        | &rarr;
        |
        = signature.output

  table
    thead
      tr
        th name
        th type
        th description
    
    tbody    
      each variable, name in variables
        tr
          td= name
          td!= helpers.markdown(variable.type)
          td!= helpers.markdown(variable.description)
          
  block function

//- section
//-   h2#function-{{hrefSafe title}}
//-     a.header-anchor(href="#function-{{hrefSafe title}}") {{title}}
//- 
//-   {{#each signatures}}
//-   {{> signature .}}
//-   {{/each}}
//- 
//-   {{> table table}}
//- 
//-   {{#if prose}}
//-   :markdown
//-     {{indent 4 (setLinks prose)}}
//-   {{/if}}
//- 
//-   {{#each examples}}
//-   {{> example .}}
//-   {{/each}}
