include ../../-mixins

style
  include:stylus index.styl

article
  h1
    if category == "method"
      if scope == "class"
        = `${type.name}.${name}`
      else if scope == "instance"
        = `${type.name}::${name}`
    else
      = name


  +wikitext(summary)(data-path = parent)

  site-signatures(data-path = path)

  site-variables(data-path = path)

  +wikitext(description)(data-path = parent)

  site-block(data-key = `${path}/description`)
    h2 Description

  site-blocks(data-glob = `${path}/example/*`)
    h2 Example

  site-blocks(data-glob = `${path}/examples/*`)
    h2 Examples
