mixin font(source, name, ...sizes)
  if source == "google"
    link(
      rel = "stylesheet"
      href = "//fonts.googleapis.com/css?family=" + name + ":" + sizes.join(",")
    )

mixin css(source, repo, version, path)
  if source == "jsdelivr"
    link(
      rel = "stylesheet"
      href = `//cdn.jsdelivr.net/npm/${repo}@${version}/${path}` 
    )

mixin js(source, repo, version, path)
  if source == "jsdelivr"
    script(
      type = "application/javascript"
      src = `//cdn.jsdelivr.net/npm/${repo}@${version}/${path}`
    )
