mixin css(source, repo, version, path)
  if source == "jsdelivr"
    link(
      rel = "stylesheet"
      href = `//cdn.jsdelivr.net/npm/${repo}@${version}/${path}`
    )


mixin icon(name, style = "regular")
  svg: use(xlink:href=`/images/fa/sprites/${style}.svg#${name}`)

mixin wikitext(text, type = "text/html")
  hydrogen-wikitext&attributes(attributes)
    script(type = type)= text

mixin autolink(x)
  kite-autolink(data-key = x)
    block

mixin breadcrumbs(crumbs, here)
  if crumbs.length > 0
    ul
      each crumb in crumbs
        li: +autolink(crumb)= crumb
      if here
        li: span= here
  else
    if here
      ul: li: span= here
    else
      block

mixin toc(entries, current)
  if entries.length > 0
    ul
      each entry in entries
        if current && entry.key == current
          li: span= entry.name
        else
          li
            +autolink(entry)
              if entry.constructor == String
                = entry
              else
                = entry.name
  else
    block
